@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #201e35;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

a{ 
    text-decoration: none;
    font: normal 400 1.2rem Roboto;
    color: #b0b2c3;
    text-transform:uppercase; 
}

a:after {
    display: block;
    content: '';
    border-bottom: solid 3px #2a4dc7;  
    transform: scaleX(0);  
    margin-top: 1px;
    transition: 0.4s ease-in-out;
}

a:hover:after { 
    transform: scaleX(1);
}

a:hover{
    transition: ease 0.4s;
    color: #fff;
}
